.search-input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;

    line-height: 24px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.logo-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 300px
}

.main {
    margin-top: 100px;
}

.buttons {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: flex;
    justify-content: center; 
}

.btn {
    margin: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;

    background: #dfe1e5;
    border: none;
    border-radius: 4px;
}